/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
  .buttons {
    flex-direction: column;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.buttons :global(.button) {
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.buttons :global(.button:hover) {
  transform: translateY(-4px);
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.35);
  background-color: aliceblue;
}

.buttons :global(.button:active) {
  transform: translateY(-1px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.592);
}